<!DOCTYPE html>
<html>
    <head>
        <title>WEB - CSS</title>
        <meta charset="utf-8">
        <style>
            a {
                color:blue;
                text-decoration:none;
            }
            h1 {
                font-size: 50px;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1><a href="index.html"><font color="red">WEB</font></a></h1>
        <ol>
            <li><a href="index.html"style= "color:black;text-decoration: underline">HTML</a></li>
            <li><a href="css.css" 
            style="color: red;text-decoration: underline">CSS</a></li>
            <li><a href="basetest.html">JavaScript</a></li>
        </ol>
        <h2>CSS</h2>
    </body>
</html>